[tool.ruff]
line-length = 120
target-version = "py311"
select = ["E", "F", "W", "I"]
ignore = ["E501"]

[tool.pytest.ini_options]
addopts = ""
testpaths = ["backend/tests"]
filterwarnings = ["ignore::DeprecationWarning"]
